/* This file changes the colourscheme of mafs dev components*/
@import "computer-modern/cmu-serif.css";

svg#mafs-embed {
  font-family: "CMU Serif", serif;
}

svg#mafs-embed {
  display: block;
  background: var(--mafs-bg);
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  font-family: inherit;
  font-variant-numeric: tabular-nums;
  touch-action: none;
  outline: 0;

  --mafs-bg: black;
  --mafs-fg: white;

  --mafs-origin-color: var(--mafs-fg);
  --mafs-line-color: #555;
  --grid-line-subdivision-color: #222;

  --mafs-red: #f11d0e;
  --mafs-orange: #f14e0e;
  --mafs-yellow: #ffe44a;
  --mafs-green: #15e272;
  --mafs-blue: #58a6ff;
  --mafs-indigo: #7c58ff;
  --mafs-violet: #ae58ff;
  --mafs-pink: #ee00ab;
}

svg#mafs-embed text {
  fill: var(--mafs-fg);
  cursor: default;
}

svg#mafs-embed path {
  stroke: var(--mafs-fg);
}

svg#mafs-embed:focus-visible {
  border-radius: 5px;
  outline: 3px solid #58a6ff;
}

/* Custom CSS */
svg#mafs-embed {
  --mafs-bg: none;
  --mafs-fg: black;
}


/*
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equation-container {
  margin: auto;
}
*/